.grid__container {
  max-width: 100%;
  margin: 0 auto;
  height: calc(100vh - 8rem);
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 1rem;
  place-items: center;
}

.brand__details {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.brand__details h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.brand__details span {
  font-size: 4rem;
  color: purple;
}

.brand__details h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  background: linear-gradient(77deg, #a32cc4, #630436, #67032f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
}

.brand__details p {
  font-size: 1rem;
  font-weight: bold;
  color: #8e8e8e;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 1.75rem;
  text-align: center;
}

.brand__details button {
  background: #a32cc4;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: whitesmoke;
  border-radius: 0.3rem;
  box-shadow: var(--box-Shadow);
}

/* for tablet */

@media screen and (min-width: 768px) {
  .grid__container {
    max-width: 100%;
    height: calc(100vh - 28rem);
    grid-template-columns: 1fr 1fr;
  }
  .grid__items__brand__details__container {
    grid-column: 1 / 2;
    grid-row: 2 / -3;
  }

  .grid__items__image__container {
    grid-column: 2 / 3;
    grid-row: 2/-2;
  }

  .brand__details {
    gap: 1.5rem;
  }
  .img__container {
    max-width: 100%;
    height: 100%;
  }

  .brand__details h2 {
    font-size: 1.75rem;
  }

  .brand__details h1 {
    font-size: 2.5rem;
  }

  .brand__details p {
    font-size: 1.125rem;
  }
}

/* for laptop */

@media screen and (min-width: 992px) {
  .grid__container {
    display: grid;
    height: calc(100vh - 28rem);
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .brand__details h2 {
    font-size: 2rem;
  }
  .brand__details h1 {
    font-size: 3rem;
  }
  .brand__details p {
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
    line-height: 2.125rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  .grid__container {
    display: grid;
    height: calc(100vh - 25rem);
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .brand__details {
    gap: 3.75rem;
  }
  .brand__details h2 {
    font-size: 2.5rem;
  }
  .brand__details h1 {
    font-size: 3.5rem;
  }
  .brand__details p {
    font-size: 1.275rem;
    letter-spacing: 0.3rem;
    line-height: 2.725rem;
    font-weight: 500;
  }
  .brand__details button {
    padding: 1rem 6rem;
    font-size: 2.5rem;
    font-weight: 800;
  }
}
