.collection__container {
  max-width: 100%;
  height: max-content;
 
}
.image__container {
  max-width: 100%;
  height: auto;
}

.image__container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.collection__heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  background: linear-gradient(77deg, #a32cc4, #630436, #67032f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 2rem;
  margin-top: 50px;
}

/* for mobile */

@media screen and (max-width: 400px) {
  .collection__heading {
    font-size: 1.5rem;
  }
  .image__container {
    max-width: 100%;
    
  }
}

/* for tablet  */

@media screen and (max-width: 768px) {
  .collection__heading {
    font-size: 2rem;
    padding-top: 0px;
    margin-top: 20px;
  }
  .image__container {
    max-width: 100%;
    
  }
  .image__container img{
    height: auto;
  }
  
}
@media screen and (max-width: 500px){
  .collection__heading {
    font-size: 1.6rem;
    margin-top: 10px;
  }
}

/* for laptop */

@media screen and (max-width: 992px) {
  /* .collection__heading {
    font-size: 2rem;
  } */
  .image__container {
    max-width: 100%;
    
  }
}

/* for big screen */

@media screen and (max-width: 1200px) {
  /* .collection__heading {
    font-size: 2rem;
  } */
  .image__container {
    max-width: 100%;
    
  }
}
