.marquee__container {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent !important;
  color: #000000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 2rem 0rem;
  box-shadow: --box-Shadow;
}

.flex__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.image__container {
  width: 10rem;
  height: 10rem;
}
