.productlisting__page {
  max-width: 100%;
  height: max-content;
  margin: auto auto;
}

.product__heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  background: linear-gradient(77deg, #a32cc4, #630436, #67032f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 2rem;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
}
.view__all {
  max-width: 100%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__button {
  max-width: 100%;
  padding: 1rem 10rem;
  color: whitesmoke;
  background: purple;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product__button:hover {
  transform: scale(1.1);
  background: #a32cc4;
}

/* for mobile */

@media screen and (max-width: 400px) {
  .product__heading {
    font-size: 1.5rem;
  }
}

/* for tablet  */

@media screen and (max-width: 768px) {
  .product__heading {
    font-size: 1.75rem;
  }
}

/* for laptop */

@media screen and (max-width: 992px) {
  .product__heading {
    font-size: 2rem;
  }
}

/* for big screen */

@media screen and (max-width: 1200px) {
  .product__heading {
    font-size: 2rem;
  }
}
