.Carousel__container {
  max-width: 100%;
  height: 100%;
}

.image__container {
  max-width: 100%;
  height: 42rem;
}

.image__container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer__text {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  background: linear-gradient(77deg, #a32cc4, #630436, #67032f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* for mobile */

@media screen and (max-width: 400px) {
  .offer__text {
    font-size: 1.5rem;
  }
  .image__container {
    max-width: 100%;
    height: 30rem;
  }
}

/* for tablet  */

@media screen and (max-width: 768px) {
  .offer__text {
    font-size: 1.75rem;
  }
  .image__container {
    max-width: 100%;
    height: 30rem;
  }
}

/* for laptop */

@media screen and (max-width: 992px) {
  .offer__text {
    font-size: 2rem;
  }
  .image__container {
    max-width: 100%;
    height: 30rem;
  }
}

/* for big screen */

@media screen and (max-width: 1200px) {
  .offer__text {
    font-size: 2rem;
  }
  .image__container {
    max-width: 100%;
    height: 30rem;
  }
}
