.header {
  width: 100%;
  height: 6.5rem;
  background-color: rgb(255, 255, 255);

  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 999;
  box-shadow: 0px 0px 15px -10px rgb(31, 31, 31);
}

.header.active {
  background-color: purple;
  color: white
}

.navbar,
.nav_list,
.nav__icons {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem 0;
  font-size: 3rem;
  font-weight: bold;
  position: relative;

  
}

.mobile_con {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem 0;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  display: none;
}

input[type="search"]:focus {
  box-shadow: 0px 0px 5px 0px #dccb5f;
  /* border-color: #c3b454; */
  outline: none;
}

.nosubmit {
  border: none;
  padding: 0;
  height: 40px;

}


input.nosubmit {
  width: 300px;
  /* border: 2px solid #bcbcbc; */
  box-shadow: 0px 0px 5px -2px #434343;
  border-radius: 20px;
  display: block;

  padding: 9px 15px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.desktop__nav,
.nav__icon {
  list-style: none;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: inherit;
}

.mobile_con .nav__icon {
  list-style: none;
  font-size: 2.8rem;
  font-weight: 700;
  /* letter-spacing: 0.2rem; */
  color: inherit;
}
.brand__logo, .nav_list, .nav__icons{
  margin: auto;
}

.brand__logo {
  max-width: 51rem;
  display: flex;
  height: auto;
}

.nav__icons h3 {
  font-size: 2rem;
}

.brand__logo a img {
  width: 18rem;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0rem 2rem;
  background-color: #f6daf9;
  color: #000;
}

.social__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f3ec;
  color: #000;
}

.category__list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  font-size: 12px;
  padding: 0.4rem 0rem;
  word-spacing: 4px;
}


.badge__count {
  background-color: purple;
  color: #fff;
  border-radius: 50%;
  padding: 0rem 1rem;
  font-size: 2rem;
  position: absolute;
  top: 0;
}

.nav__icon__hamburger {
  font-size: 2.8rem;
  color: #2e2e2e;
  cursor: pointer;
  transform: rotate(90deg);
}

.mobile__navigation__icons {
  display: none;
}

.mobile__app p {
  font-size: 16px;
  font-weight: bold;
  color: purple;
  padding: 0.5rem 0rem;
}

@media screen and (max-width: 911px) {

  .navbar,
  .nav__list ul,
  .nav__icons {
    gap: 1rem;
  }

  .desktop__nav,
  .nav__icon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 6rem;
  }

  .mobile_con {
    display: block;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem 0;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    
  }

  .navbar {
    padding-left: 22px;
    padding-right: 20px;
    justify-content: unset;
  }

  .nav__icons {
    display: none;
  }

  .navbar .nav__icon a h3 {
    display: none;
  }

  .desktop__nav {
    display: none;
  }

  .nav_list {
    display: none;
  }

  .brand__logo {
    max-width: 16rem;
  }

  .social {
    display: none;
  }

  .category {
    display: none;
  }

  .mobile__navigation__icons {
    display: block;
    margin-top: 9px;
  }

  .mobile__navigation {
    width: 100%;
    height: calc(100vh - 4rem);
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    z-index: 999;
  }

  .nav__icon__hamburger {
    transform: rotate(0deg);
  }

  .mobile__nav__list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
  }

  /* .nav__icon {
    font-size: 1.75rem;
    font-weight: bold;
  } */

  .mobile__nav__list li {
    list-style: none;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    color: inherit;
  }


}