.header {
  width: 100%;
  height: 10rem;
  background-color: #f8f3ec;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 999;
}

.navbar,
.nav__list ul,
.nav__icons {
  max-width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
  font-size: 3rem;
  font-weight: bold;
}
.nav__icons:nth-last-of-type(1) {
  fill: #3b5998;
}
.nav__icons:nth-last-of-type(2) {
  fill: #c13584;
}
.nav__icons:nth-last-of-type(3) {
  fill: #5ffc7b;
}
.nav__icons:nth-last-of-type(4) {
  fill: #00acee;
}

.desktop__nav,
.nav__icon {
  list-style: none;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: inherit;
}

.brand__logo {
  max-width: 14rem;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0rem 2rem;
  background-color: #f8f3ec;
  color: #000;
}

.social__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f3ec;
  color: #000;
}

.category__list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 0.5rem 0rem;
}

.nav__icon__hamburger {
  font-size: 2rem;
  color: #2e2e2e;
  cursor: pointer;
  transform: rotate(90deg);
}

.mobile__navigation__icons {
  display: none;
}
.mobile__app p {
  font-size: 2.5rem;
  font-weight: bold;
  color: purple;
  padding: 0.5rem 0rem;
  text-decoration: underline;
}

@media screen and (max-width: 911px) {
  .navbar,
  .nav__list ul,
  .nav__icons {
    gap: 1rem;
  }
  .desktop__nav,
  .nav__icon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 748px) {
  .header {
    height: 4rem;
  }
  .desktop__nav {
    display: none;
  }
  .brand__logo {
    max-width: 10rem;
  }
  .social {
    display: none;
  }
  .category {
    display: none;
  }
  .mobile__navigation__icons {
    display: block;
  }
  .mobile__navigation {
    width: 100%;
    height: calc(100vh - 4rem);
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    z-index: 999;
  }
  .nav__icon__hamburger {
    transform: rotate(0deg);
  }
  .mobile__nav__list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
  }
  .nav__icon {
    font-size: 1.75rem;
    font-weight: bold;
  }
  .mobile__nav__list li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: inherit;
  }
  .nav__list {
    display: none;
  }
}
