.card {
  width: 30rem;
  height: 53rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}
.product__name {
  max-width: 100dvw;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card__details {
  max-width: 100%;
  height: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.name__container {
  max-width: 21rem;
}

.product__name p {
  font-size: 1.5rem;
  font-weight: 500;
  color: gray;
}

.whishList__icon {
  font-size: 2rem;
  fill: purple;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.price h2 {
  text-decoration: line-through;
}

.current__price {
  font-size: 2rem;
  font-weight: bold;
  color: purple;
}

.button__container {
  width: 100%;
  height: max-content;
}

.button__container button {
  width: 100%;
  height: max-content;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 0rem;
  background-color: purple;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}