footer {
  max-width: 100%;
  height: max-content;
  margin-top: auto;
  background-color: #000;
  color: whitesmoke;
  padding: 1rem 4rem;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2.5rem;
}

.grid__item h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.grid__item h4 {
  font-size: 2rem;
  margin-bottom: 0.7em;
}

.social__icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.grid__item input {
  font-size: 1.5rem;
  border: 0;
  outline: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #fff;
  background-color: transparent;
  color: whitesmoke;
}

.grid__item input::placeholder {
  color: whitesmoke;
}

.grid__item input:focus {
  border: 0.1rem solid #fff;
}

.grid__item button {
  font-size: 1.5rem;
  border: 0;
  outline: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}


/* mobile footer */

.mobile_footer{
  width: 100%;
  height: 60px;
  background-color: rgb(253, 253, 253);
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  box-shadow: 0px 0px 10px -5px purple;
}
.footer_icons{
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.icons p{
  font-size: 1.5rem;
  padding-top: 3px;
}
.icons {
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
}
.footer_icon{
  font-size: 2.5rem;
  color: #3b3b3b;
}
@media screen and (max-width: 768px){

  .mobile_footer{
    display: block;
  
    padding: 10px;
  }

  footer{
    display: none;
  }
}